## The machine learning model has been developed for the PNEUMONIA detection using the chest X-Ray

Through this link:
https://pneumoniadetection.streamlit.app/ 



numpy==1.26.3
Pillow  # Allow pip to choose the compatible version
streamlit==1.30.0
tensorflow==2.15.0
intel-tensorflow  # no specific version, install the latest available
